extends layout

block extrascripts
      link(rel='stylesheet', href='../public/css/fillcal.css')

block content
  .vertical-container.page-content
    .popup#savedPopup
      <p>Your calendar has been saved!</p>
    h1.logo MeetMe
    .pane.horizontal-container#share-box
      p.text.padded-text Invite Participants: 
      p.text.padded-text#link 
      button#copy-button Copy Link
    .horizontal-container
      .pane.half-pane
        .vertical-container#ind-cal-pane
          h3.title.inline Individual Availability
          button.button.inline#authorize-button Sync Google Calendar
          h5#info Block out times you are unavailable to meet. Changes save automatically.
          #calendar-ind
        .vertical-container#register-pane
          h3.register-title#register Register
          h3.register-title#sign-in Sign In
          button#register-text Existing user? Sign in.
          button#sign-in-text New user? Register.
          input.input#inputUsername(type='text', placeholder='Name')
          br
          input.input#inputPassword(type='text', placeholder='Password (Optional)')
          br
          br
          button.button#register-button Register
          button.button#sign-in-button Sign In
      .pane.half-pane#group-cal-pane
        h3.title#group-cal-title Group Availability
        span.inline#all-available
        table#availability-key.inline
          tr
        span.inline#no-available
        .show-labels.inline
          span.inline Show Availability Numbers
          input#show-labels.inline(type = 'checkbox')
        .show-labels#highlight-my-availability.inline
          span.inline Highlight My Availability
          input#highlight-availability.inline(type = 'checkbox')
        #calendar-group

  script.
    var groupLink = "#{groupLink}";
  script(src='https://apis.google.com/js/plus.js?onload=init')
  script(src='../public/js/bundle_fillcal.js')
