extends layout

block content
  .popup#savedPopup
    <p>Your calendar has been saved!</p>
  .horizontal-container
    .pane.cal-pane
      .vertical-container#ind-cal-pane
        #calendar-ind
        button#authorize-button Authorize
        button#signout-button Sign Out
        button#btnSave Save Calendar
      .vertical-container#register-pane
        h1 Register / Sign In
        input#inputUsername(type='text', placeholder='Name')
        br
        input#inputPassword(type='text', placeholder='Password (Optional)')
        br
        br
        button#btnRegister Register
    .pane.cal-pane#group-cal-pane
      #calendar-group

  script.
    var groupLink = "#{groupLink}";
  script(src='https://apis.google.com/js/plus.js?onload=init')
  script(src='../public/js/bundle_fillcal.js')
