<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src='/node_modules/jquery/dist/jquery.min.js'></script>
    <script src='/node_modules/moment/min/moment.min.js'></script>

    <link rel='stylesheet' href='/node_modules/fullcalendar/dist/fullcalendar.min.css'></link>
    <script src='/node_modules/fullcalendar/dist/fullcalendar.min.js'></script>

    <script src='/public/js/control.js'></script>

    <link rel="stylesheet" href="/public/styles.css">

    <title>title</title>
  </head>
  <body>
      <div class=container>
        <div class="pane cal-pane">
          <div class="row">
            <div class = "col-md-6">
                <div id='calendar-ind'></div>
           </div>

            <div class = "row">
               <button id="authorize-button" style="display: none;">Authorize</button>
               <button id="signout-button" style="display: none;">Sign Out</button>
            </div>
          </div>
        </div>

        <div class="pane cal-pane">
          <div class = "col-md-6">
              <div id='calendar-group'></div>
          </div>

        </div>
      </div>
<!--
      <script src="https://apis.google.com/js/api.js"
          onload="this.onload=function(){};handleClientLoad()"
          onreadystatechange="if (this.readyState === 'complete') this.onload()">
      </script> -->

      <script src="https://apis.google.com/js/plus.js?onload=init"></script>
  </body>
</html>
