doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='../node_modules/fullcalendar/dist/fullcalendar.min.css')
    //link(rel='stylesheet', href='../node_modules/js-datepicker/dist/datepicker.min.css')
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src='../node_modules/moment/min/moment.min.js')
    script(src='../node_modules/fullcalendar/dist/fullcalendar.min.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-141363118-1")
    block extrascripts
  body
    block content
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141363118-1');
