doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../public/css/style.css')
    link(rel='stylesheet', href='../node_modules/fullcalendar/dist/fullcalendar.min.css')
  body
    block content
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src='../node_modules/moment/min/moment.min.js')
    script(src='../node_modules/fullcalendar/dist/fullcalendar.min.js')
