extends layout

block content
  button#clearDB Empty Database
  button#populateDB Fill Database with Test Data
  script(src='../node_modules/moment/moment.js')
  script(src='../public/js/populate_data.js')
